* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  .container {
    width: 95%;
    .row {
      width: 100%;
      .headerdiv {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
        form {
          display: flex;
          input {
            border-bottom-left-radius: 50px;
            border-top-left-radius: 50px;
            background-color: #efefef;
            padding-left: 15px;
            border: none;
          }
          button {
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
            background-color: $main-color;
            padding: 15px;
            color: $second-color;
            border: none;
          }
        }
        .btndiv {
          a {
            color: black;
            border: 1px solid gray;
            border-radius: 50%;
            padding: 10px;
          }
        }
      }
    }
    .nav {
      .collapseDiv {
        justify-content: center;
        ul {
          display: flex;
          gap: 20px;
          font-weight: bolder;
          li {
            a:hover {
              color: $main-color;
            }
          }
        }
      }
    }
  }
}
main {
  #entrancesection {
    background-image: url(/assets/img/bg_1.jpg);
    background-size: cover;
    padding: 30px;
    width: 100%;
    .container {
      padding: 30px;
      width: 95%;
      .row {
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 30px;
        .entrancediv {
          margin-top: 30px;
          margin-bottom: 30px;
          padding: 30px;
          h1 {
            width: 70%;
            font-size: 60px;
            font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
              sans-serif;
            margin-bottom: 30px;
          }
          p {
            font-size: 20px;
            margin-bottom: 30px;
          }
          .buttondiv {
            .viewbtn {
              background-color: $main-color;
              padding: 10px;
              border: none;
              font-weight: bolder;
              color: $second-color;
              margin-bottom: 20px;
            }
            .explorebtn {
              background-color: $second-color;
              padding: 10px;
              border: none;
              font-weight: bolder;
            }
          }
        }
      }
    }
  }
  #statistic {
    padding: 30px;
    background-color: #f5f4f0;
    .container {
      padding: 30px;
      .row {
        padding: 30px;
        .statisticdiv {
          display: flex;
          flex-direction: column;
          margin-bottom: 30px;
          text-align: center;
          font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;

          h1 {
            font-size: 60px;
          }
          h3 {
            font-size: 20px;
            color: gray;
          }
        }
      }
    }
  }
  #apisection {
    width: 100%;
    padding: 30px;
    .apidiv {
      margin-top: 30px;
      select {
        color: $main-color;
        font-weight: bolder;
        border: 3px solid $main-color;
        padding: 10px;

        margin-top: 10px;
        margin-bottom: 30px;
        color: black;
      }
      input {
        color: $main-color;
        font-weight: bolder;

        padding: 10px;

        margin-top: 10px;
        margin-bottom: 30px;
      }
      button {
        color: $main-color;
        font-weight: bolder;

        padding: 10px;
        border: 3px solid $main-color;
      }
      button:hover {
        color: white;
        font-weight: bolder;
        background-color: $main-color;
        transition: 0.5s;
      }
      #abc {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 30px;
        .boxDiv {
          width: 20%;
          text-align: center;
          font-weight: bolder;
        }
        .myDiv {
          width: 20%;
          text-align: center;
          font-weight: bolder;
        }
        .sortbox {
          width: 20%;
          text-align: center;
          font-weight: bolder;
        }
      }
    }
  }
  #formsection {
    width: 100%;
    background-color: #f4f1e9;
    .container {
      margin-top: 30px;

      padding: 30px;
      width: 90%;
      .titlediv {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 30px;
        margin-top: 30px;
        p {
          color: gray;
        }
      }
      #myform {
        display: flex;
        justify-content: space-between;
        gap: 40px;

        .inputdiv {
          display: flex;
          flex-direction: column;
          gap: 20px;

          width: 50%;
          input {
            width: 100%;
            border-radius: 0px;
            padding: 15px;
          }
        }
        .btndiv {
          width: 50%;
          .textarea {
            width: 100%;
            border-radius: 0px;
            padding: 15px;
            margin-bottom: 20px;
          }
          button {
            background-color: $main-color;
            color: white;
            font-weight: bolder;

            padding: 10px;
            border: 3px solid $main-color;
          }
          button:hover {
            font-weight: bolder;

            transition: 0.5s;
          }
        }
      }
    }
  }
  #kinds {
    // background: linear-gradient(rgb(205, 205, 235),rgb(104, 104, 197)),
    // url(/assets/img/bg_4.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(/assets/img/bg_4.jpg);
    background-size: cover;
width: 100%;
    padding: 30px;
    .container {
      padding: 30x;
      .row {
        padding: 30px;
        .titlediv {
          text-align: center;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          color: $second-color;
          margin-bottom: 30px;
          padding: 30px;
        }
        .aboutdiv {
          margin-top: 30px;
          background-color: $second-color;
          padding: 8px;
          border-radius: 10px;
          .profilediv {
            display: flex;
            gap: 20px;
            img {
              max-width: 100%;
              border-radius: 50%;
            }
            .text {
              display: flex;
              flex-direction: column;
              h6 {
                font-size: 20px;
                font-weight: bolder;
              }
            }
          }
        }
      }
    }
  }
  #recentblog{
    .container{
        .row{
            .recentdiv{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                margin-bottom: 30px;
                h6{
                    font-weight: bolder;
                }
                h6:hover{
                    color: $main-color;
                    transition: 0.5s;
                }
               img{
                width: 100%;
                margin-bottom: -20px;
               } 
               button{
               color: $main-color;
                border-radius: 50%;
                border: none;
                padding: 20px;
                margin-top: -30px;
                display: flex;
                text-align: center;
                flex-direction: column;
                font-weight: bolder;
                font-size: 30px;
                span{
                    color: black;
                    font-size: 15px;
                }
               }
               button:hover{
                background-color: $main-color;
                color: $second-color;
                transition: 0.5s;
               }
            }
        }
    }
  }
}
footer{

    background-color: #171613;
    .container{
 
        .row{
            .footdiv{
                color: $main-color;
                display: flex;
                justify-content: center;
            }
        }
    }
}

@media screen and (max-width:420px) {
    #kinds{
        .container{
            .row{
                .aboutdiv{
                    font-size: 13px;
                    .profilediv{
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
  .headerdiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
